<script>
var startTime=new Date();
</script>
<style>
	*{box-sizing: border-box;padding:0;margin:0}
li{list-style-type: none;}
</style>

<!doctype html>
<html lang="zh-cn">
<head>
	<meta charset="UTF-8">
	<title>工具測試</title>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>	
	<!-- <script src="Ele.js"></script> -->
	<script src="Mic0.2.js"></script>
	<!-- <script src="version0.1/Mic-0.1.2-min.js"></script> -->
	<!-- <script src="Mic-0.1.1-IE8+.js"></script> -->
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
	<div id="app">
		<i>{{is}}<s>{{usedd}}</s>
		</i>
		<a m-for='item,index in is' v-for="(item,index) in is">
			<i m-text=item @click="aaa(item,index)" v-text='item'></i>
		</a>
		<button @click="aaa(is,usedd)">32332</button>
	</div>
	<button id='dian'>dian</button>
	<script>

		var mic=new Mic({
			el:"#app",
			data:{
				usedd:'23432423',
				is:['中','華','人','民','hao'],
				ddddd:false,
				a:4
			},
			created:function(){
				var that=this;
				this.usedd="werwe";
				axios.get('state.js').then(function(res){
					console.log(that.usedd);
					that.usedd=res.data
				})
				// $.ajax({
				// 	type:'get',
				// 	url:'state.js',
				// 	success:function(res){
				// 		that.usedd=res
				// 	}
				// })
				
			},
			methods:{
				aaa(is,er){
					console.log(is);
					console.log(er);
					this.is=[23,432,532,32]
					// this.a=this.a+1;
					// console.log(this.a);
				}
			},
			mounted(){
			}
		});
		  
		// new Vue({
		// 	el:"#app",
		// 	data:{
		// 		usedd:'23432423',
		// 		is:[1,2,3,4,5],
		// 		ddddd:false
		// 	},
		// 	created:function(){
		// 		var that=this;
		// 		this.usedd="werwe";
		// 		axios.get('state.js').then(function(res){
		// 			console.log(that.usedd);
		// 			that.usedd=res.data
		// 		})
				
		// 	},
		// 	methods:{
		// 		aaa(is,er){
		// 			console.log(is);
		// 			console.log(er);
		// 			this.is=[23,432,532,32]
		// 			// this.a=this.a+1;
		// 			// console.log(this.a);
		// 		}
		// 	},
		// 	mounted(){
		// 	}
		// })

	</script>

	<!-- 	<div class="bbb" m-for="ccc,cccc in def" m-text="ccc"></div>
		<p m-if="aaa==bbb" m-text="'第一條數據:'+aaa"></p>
		<p m-else m-text="'第二條數據'"></p>
	<div id="ccc">
		<input type="text" m-model="ccc">
			<input type="text" m-model="aaa" name="" id="input">
		<div class="aaa" m-for="(item,index) in def" >
				<p >{{ccc}}dfs{{bbb}}{{'第一條數據:'+aaa*2}}</p>
			<div class="bbb" m-for="ccc,cccc in item">
				<p><a><s>{{ccc}}<d>{{cccc}}</d></s></a></p>
			</div>
			<p m-if="ddd==bbb" m-text=" aaa "></p>
			<p m-else m-text="'第二條數據'"></p>
		</div>
		<p>{{china}}</p> 
		 <div m-for="(item,index) in def">
			<p class="itemShow">{{item}}</p>
		</div>
	</div>
	<div id="ddd">
		<input type="text" v-model="aaa" name="" id="inputv">
		<p >{{ccc}}++++{{bbb}}{{'第一條數據:'+aaa}}</p>
		<div>{{"第一条数据："+aaa}}</div>
		<div class="aaa" v-for="(item,index) in def">
				<div>{{index+aaa<p>}}asdasd</p></div>
		</div>
		<div class="bbb" m-for="ccc,cccc in def" m-text="ccc"></div>
		<p v-if="aaa==bbb" v-text="'第一條數據:'+aaa"></p>
		<p v-else v-text="'第二條數據'"></p>
	</div> -->
</body>
</html>
<script>



// var aaa=3,bbb=5,ddd=5;


	// });
	// var mic=new Mic({
	// 	el:"#ccc",
	// 	data:{
	// 		aaa:11,bbb:'22',ccc:'中華民國',ddd:'22',eee:false,	
	// 		china:{
	// 			name1:{aaa:'第1行第1列',bbb:'第1行第2列',ddd:'第1行第3列'},
	// 			name2:{aaa:'第2行第1列',bbb:'第2行第2列',ddd:'第2行第3列'},
	// 			name3:{aaa:'第3行第1列',bbb:'第3行第2列',ddd:'第3行第3列'},
	// 			name4:{aaa:'第4行第1列',bbb:'第4行第2列',ddd:'第4行第3列'},
	// 			name5:{aaa:'第5行第1列',bbb:'第5行第2列',ddd:'第5行第3列'}
	// 		},
	// 		abc:['22','33','11'],
	// 		def:[
	// 			{
	// 				eee:{aaa:'第1行第1列',bbb:'第1行第2列',ddd:'第1行第3列'},
	// 				fff:{aaa:'第2行第1列',bbb:'第2行第2列',ddd:'第2行第3列'},
	// 				ggg:{aaa:'第3行第1列',bbb:'第3行第2列',ddd:'第3行第3列'},
	// 				hhh:{aaa:'第4行第1列',bbb:'第4行第2列',ddd:'第4行第3列'},
	// 				iii:{aaa:'第5行第1列',bbb:'第5行第2列',ddd:'第5行第3列'}
	// 			}
	// 		],
	// 		ghi:[
	// 			['22','33','11'],['22','33','11'],['22','33','11']
	// 		]
	
	// }, 
	// 	methods:{
	// 		vvv:function () {
	// 			console.log(axios);
	// 		}
	// 	},
	// 	created:function(){
	// 		console.log(this);
			// var that=this.data;
			// axios.get("http://127.0.0.1/php/laoman/config.php?username=man").then(function(res) {
				// that.china=res.data;
				// console.log(that.china);
			// })
			// console.log(this);
		// },
		// mounted:function(){
		// 	var that=this;
			// axios.get("http://127.0.0.1/php/laoman/config.php?username=man").then(function(res) {
			// 	that.china=res.data;
			// 	console.log(that.china);
			// })
	// 		console.log(this);
	// 	},
	// })
	// var vue=new Vue({
	// 	el:"#ddd",
	// 	data:{
	// 		aaa:11,bbb:'22',ccc:'中華民國',ddd:'22',eee:false,	
	// 		china:{
	// 			name1:{aaa:'第1行第1列',bbb:'第1行第2列',ddd:'第1行第3列'},
	// 			name2:{aaa:'第2行第1列',bbb:'第2行第2列',ddd:'第2行第3列'},
	// 			name3:{aaa:'第3行第1列',bbb:'第3行第2列',ddd:'第3行第3列'},
	// 			name4:{aaa:'第4行第1列',bbb:'第4行第2列',ddd:'第4行第3列'},
	// 			name5:{aaa:'第5行第1列',bbb:'第5行第2列',ddd:'第5行第3列'}
	// 		},
	// 		abc:['22','33','11'],
	// 		def:[
	// 			{aaa:'第1行第1列',bbb:'第1行第2列',ddd:'第1行第3列'},
	// 			{aaa:'第2行第1列',bbb:'第2行第2列',ddd:'第2行第3列'},
	// 			{aaa:'第3行第1列',bbb:'第3行第2列',ddd:'第3行第3列'},
	// 			{aaa:'第4行第1列',bbb:'第4行第2列',ddd:'第4行第3列'},
	// 			{aaa:'第5行第1列',bbb:'第5行第2列',ddd:'第5行第3列'}
	// 		],
	// 		ghi:[
	// 			['22','33','11'],['22','33','11'],['22','33','11']
	// 		]
	
	// }, 
	// 	methods:{
	// 		vvv:function () {
	// 			console.log(this.ccc);
	// 		}
	// 	},
	// 	created:function(){
			// axios.get("http://127.0.0.1/php/laoman/config.php?username=man").then(function(res) {
			// 	console.log(res.data);
			// })
	// 		console.log(this);
	// 	},
	// 	mounted:function(){
			
	// 	},
	// })
	// class animate{
	// 	constructor(aa){console.log(aa)}
	// 	ff(){return aa}
	// }
	// class bird extends animate{
	// 	constructor(bb){
	// 		super(bb);
	// 	}
	// 	ff(){console.log('ff')}
	// }
	// var bd=new bird('蒼蠅');
	// console.log(bd)
</script>
<style>
	.Japan ul{width: 5000px;background-color:#fff;height: 30px;transition: margin-left 0.5s;}
	.Japan ul li{float: left;width: 100px;}
	.Japan ul li.active{color:yellow}
	.Japan{width: 500px;overflow: hidden;border:3px solid #000;height:100px;float: left;}
	.Jf p{float: left;}
	.bbb{background: #d00;}
</style>